<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">개요 - 개인정보</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">디자인</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>어도비 프리미어</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>어도비 애프터이펙트</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>어도비 포토샵</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Flash</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            -->
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">프로그래밍 언어</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>루비</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>C</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">오피스</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="55%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">55%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            -->
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">취미</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>영상 촬영 및 제작</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>사진 촬영</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>게임</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>여행</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <!--
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        -->
        <!-- /.title_content -->
        
        <!-- <div class="skills"> -->
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            -->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            -->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            -->
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <!--
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Swiss</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            -->
            <!-- /.skillbar -->
        <!-- /div> -->
        
        
        <!-- .title_content -->
        <!--
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        -->
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <!--
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        -->
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">개발 경험</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>아두이노 냉장고, 무드등, 바보상자 <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> CK사업단 동아리 I can do it</h6>
                <p>
                    아두이노와 펠티어 소자 자석, 온습도센서를 이용해 작은 냉장고를 하나 만들어 보았다. <br>
                    아두이노와 3D프린터를 이용해 만든 몸체와 RGB LED, 가변저항, 스위치들을 이용해 무드등을 만들어 보았다. <br>
                    아두이노와 3D프린터, 상자를 이용해 바보상자라 불리는 장난감을 만들어 보았다.
                </p>
            </li>
            <li>
                <h5>렌즈대여 웹사이트 <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 진행중</span></h5>
                <h6><span class="fa fa-briefcase"></span> 제주대학교 컴퓨터공학전공 오픈소스 개발 방법론</h6>
                <p>
                    오픈소스 수업 중 팀프로젝트로 렌즈대여 웹사이트를 개발중에 있다.<br>
                    루비온 레일즈를 이용하여 서버를 구축하고, 오픈소스인 젬들을 활용하여 만들고 있는 중이다.
                </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">학력</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>일반계 고등학교 이공계열 <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2014</span></h5>
                <h6><span class="fa fa-book"></span> 오현고등학교</h6>
                <p>
                    63기 오현고등학교 졸업<br>
                    32기 오현고등학교 방송부 활동 2012 - 2014
                </p>
            </li>
            <li>
                <h5>컴퓨터공학전공 <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 진행중</span></h5>
                <h6><span class="fa fa-book"></span> 제주대학교</h6>
                <p>
                    컴퓨터공학전공 분과 학술 동아리 Include 활동 중 2018 - <br>
                    컴퓨터공학전공 학생회 학술부 차장 2018 - <br>
                    컴퓨터공학전공 차세대통신망 연구실 활동 중 2018 - <br>
                    카카오 트랙 이수중 2018 - <br>
                </p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">수상</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>영상 제작 - 4회 컬투쇼 UCC 콘테스트<span class="duration"><i class="fa fa-calendar color"></i> 2013 </span></h5>
                <h6><span class="fa fa-trophy"></span> 인기상</h6>
                <p>
                    2013년 오현고등학교 방송부원 일부와 제주 청소년 수련관 영화제작동아리 합작으로 제작하였다. <br>
                    영상 촬영과, 편집을 맡았다.<br>
                    <a href = "https://tv.naver.com/v/2498459">영상 보기</a>
                </p>
            </li>
            <li>
                <h5>영상 제작 - 화북동 UCC 전국 공모전<span class="duration"><i class="fa fa-calendar color"></i> 2012 </span></h5>
                <h6><span class="fa fa-trophy"></span> 우수상</h6>
                <p>
                    2012년 오현고등학교 방송부원 일부가 참여해 제작하였다.<br>
                    영상 촬영과, 편집을 맡았다.<br>
                    대상이 없고 우수상이 두팀이 나왔다.<br>
                    <a href = "https://www.youtube.com/watch?v=Juj6D6xAc9k">영상 보기</a>
                </p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
         <!--
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        -->
        <!-- /.title_content -->
        
        <!--
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
        -->
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->