<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">프로필 - 강용재</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">강용재</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>이름</label>
                <span class="value">강용재</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>생년월일</label>
                <span class="value">1996. 08. 27.</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>주소</label>
                <span class="value">제주, 대한민국</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>이메일</label>
                <span class="value">k33721@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>전화</label>
                <span class="value">+82 10-9478-3372</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>웹페이지</label>
                <span class="value"><a href="#" target="_blank">https://github.com/YongJup</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            컴퓨터 게임을 하고 싶어서 이것저것 알아보다 전공까지 하게 되었다.<br>
            학교 동아리 활동으로 아두이노를 이용해 간단한 소품들을 만들어 보았다.<br>
            18년 멋쟁이 사자처럼에 들어가서 루비와 레일즈를 통해 웹 개발에 관심이 생겼다.<br>
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            중학교 미술시간 UCC 만들기로 영상에 관심이 생긴 후 고등학교 방송부, 유튜브 등 영상작업에 취미가 생겼다.

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.jpg" alt="" />
            <img src="images/img-profile/about_3.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">사용 언어</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-terminal"></i></div>
                <div class="service-detail">
                    <h6>C</h6>
                    <p>간단하게 콘솔 프로그램 작성, 알고리즘</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="far fa-gem"></i></div>
                <div class="service-detail">
                    <h6>Ruby</h6>
                    <p>루비온레일즈를 사용하여 간단한 웹 서버와 사이트 구축</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="far fa-file-code"></i></div>
                <div class="service-detail">
                    <h6>C#</h6>
                    <p>현재 공부 중이며 간단하게 콘솔 프로그램 작성</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">프로젝트</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            CK사업단 동아리 I can do it (2015년)
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  
                            제주대학교 CK사업단 내 동아리로 아두이노를 이용하여 중, 고등학교에서 학생들을 대상으로 간단한 강의를 진행하고, 
                            작품들을 만들어 여러 전시 행사 등에 참여하는 동아리이다.<br>
                            제주동여자중학교, 제주제일중학교, 오현고등학교 에서 학생들에게 간단한 아두이노 교육을 진행했음<br>
                            제주항공우주박물관과 함께 2015대한민국과학창의축전 전시 부스 참가<br>
                            인텔코리아 이노베이션허브와 2015 메이커페어 서울 전시 부스 참가<br>
                            15년도 제주대학교 컴퓨터공학과 전시회 참가<Br>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            컴퓨터공학과 분과 Include (2018년 ~ )
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  
                            제주대학교 컴퓨터공학과 내부 학술 동아리로 동아리 구성원끼리 공부와 프로젝트를 하는 동아리이다.<br>
                            현재 CK사업단의 지원을 받아 유니티를 이용한 교육용 게임을 개발 중에 있다.<br>
                            18년도 제주대학교 컴퓨터공학전공 전시회에 제출할 전시물을 제작하고 있다.<br>
                            
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            컴퓨터공학과 차세대통신망 연구실 (2018년 ~ )
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  
                            제주대학교 컴퓨터공학과 내부 연구실로 여러 프로젝트를 진행하며, 공학교육혁신센터의 행사를 참여 및 보조하고 있다.<br>
                            공학교육혁신센터에서 아두이노로 DIY 드론 만들기 특강에 참가하여 DIY 드론 한기를 직접 만들어 보았다.<br>
                            현재 연구실 내에서 18년도 제주대학교 컴퓨터공학전공 전시회에 차통꿈나무2라는 팀명으로 전시회 작품을 제작하고 있다.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->